leaksentinel-codex-plus/infra/stepfunctions/leak_workflow.asl.json
{
  "Comment": "LeakSentinel verification workflow (skeleton)",
  "StartAt": "GatherContext",
  "States": {
    "GatherContext": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT:function:gather_context",
      "Next": "ThermalCheck"
    },
    "ThermalCheck": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT:function:thermal_check",
      "Next": "ThermalChoice"
    },
    "ThermalChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.thermal.confidence",
          "NumericGreaterThanEquals": 0.7,
          "Next": "OpsVerification"
        }
      ],
      "Default": "AudioSpectrogram"
    },
    "AudioSpectrogram": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT:function:audio_spectrogram",
      "Next": "AudioCheck"
    },
    "AudioCheck": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT:function:audio_check",
      "Next": "OpsVerification"
    },
    "OpsVerification": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT:function:ops_verification",
      "Next": "Decision",
      "TimeoutSeconds": 60
    },
    "Decision": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT:function:decision",
      "Next": "Notify"
    },
    "Notify": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT:function:notify",
      "End": true
    }
  }
}